.firstBotBubble {
    display: flex;
}

.botBubble {
    position: relative;
    width: 100%;
    height: 50px;
    display: block;
}

.botBubbleText {
    position: absolute;
    display: flex;
    background-color: #E7EDFD;
    width: 200px;
    left: 20px;
    border-radius: 25px;
    padding: 10px;
    color: black;
    justify-content: center;
    align-items: center;
}

.botBubbleText::before{
    content: "";
    border-bottom: 0.6875rem solid transparent;
    border-right: 0.6875rem solid #E7EDFD;
    position: absolute;
    left: -0.5rem;
}

.logoBubble {
    width: 30px;
    height: 30px;
}