
.afterBotBubble {
    position: relative;
    width: 100%;
    height: 100px;
    display: block;
    margin-left: 30px;
    margin-bottom: 50px;
    animation: fadeInUp 1s;

}

.afterBotBubbleText {
    position: absolute;
    display: flex;
    background-color: #E7EDFD;
    width: 200px;
    left: 20px;
    border-radius: 25px;
    padding: 20px;
    align-items: center;

    font-family: 'NanumSquareNeo-Bold';
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: black;
}