.inputContainer {
    width: 600px;
    height: 50px;
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
}

.inputForm {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    background-color: #E7EDFD;
}

.textInput {
    height: 100%;
    width: 90%;
    border: 0;
    background: none;
    outline: none;
    margin-left: 20px;
}

.send {
    display: absolute;
    width: 38px;
    height: 38px;
    margin-right: 10px;
}

.send:hover {
    cursor: pointer;
}