.majors {
    width: 100%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 0.7fr;
    column-gap: 10px;
    row-gap: 10px;
    animation: fadeInUp 1s;
    margin-bottom: 35px;
}

.chatmajorButton {
    height: 40px;
    background-color: white;
    border: 0.5px solid #4D789D;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'NanumSquareNeo-ExtraBold';
    font-style: normal;
    font-size: 10px;
    color: #1751EC;
}

.chatmajorButton:hover {
    background: #E7EDFD;
    cursor: pointer;
}