.chatbotHeader {
    border-bottom: 3px solid #E7EDFD;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleText {
    font-weight: bold;
    letter-spacing: 2px;
}

.empty {
    width: 20px;
}

.headerimg {
    width: 20px;
}

img:hover {
    cursor: pointer;
}