.personality {
    width: 100%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    column-gap: 10px;
    row-gap: 10px;
    animation: fadeInUp 1s;
    margin-bottom: 35px;
}

.personButton {
    height: 120px;
    background-color: white;
    border: 0.5px solid #4D789D;
    border-radius: 30px;
}

.personButton:hover {
    background: #E7EDFD;
    cursor: pointer;
}

.typeName {
    font-family: 'NanumSquareNeo-ExtraBold';
    font-style: normal;
    font-size: 13px;
    color: #1751EC;
    margin-bottom: 5px;
}

.typeDetail {
    font-family: 'NanumSquareNeo-Bold';
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: black;
}