.majorPopUpContainer {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    max-height: 75%;
    overflow-y: auto;
    padding: 40px;

    background-color: #E7EDFD;
    border-radius: 20px;
}

/* Top */
.majorPopUpTop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'NanumSquareNeo-Heavy';
    font-size: 20px;
    color: #4D789D;
}

/* 닫기 버튼 */
.majorPopUpClose {
    display: inline-block;
    
    background-color: #4D789D;
    border: none;
    border-radius: 12px;
    width: 50px;
    height: 24px;
    cursor: pointer;

    font-family: 'NanumSquareNeo-Bold';
    font-size: 15px;
    color: white;
}

.majorPopUpClose:hover {
    font-family: 'NanumSquareNeo-ExtraBold';
}

/* 내용 */
.majorPopUpContent {
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;    

    font-family: 'NanumSquareNeo-Regular';
    font-size: 15px;
    color: #4D789D;
}

/* 내용 제목 */
.majorPopUpTitle {
    font-family: 'NanumSquareNeo-Bold';
}

/* 버튼 스타일 */
.majorPopUpButton {
    background-color: #E7EDFD;
    color: white;
    border: none;
    padding: 5px;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;

    font-family: 'NanumSquareNeo-Bold';
    font-size: 15px;
    color: #1751EC;
}

.majorPopUpButton:hover {
    background-color: #B5C9FF;
    font-family: 'NanumSquareNeo-ExtraBold';
}