.searchBarContainer {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background: #E7EDFD;
    border-radius: 5px;
  }
  
  .searchBarContainer input {
    background: none;
    outline: none;
    border: none;
    margin-left: 5px;
    padding: 5px;
    font-size: 1.125rem;
    line-height: 1.5;
    flex: 1;

    font-family: 'NanumSquareNeo-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 40px;
    color: black;
  }
  
  .searchBarContainer button {
    background: none;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #c2d2ff;
    height: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;

    font-family: 'NanumSquareNeo-ExtraBold';
    font-style: normal;
    font-size: 15px;
    line-height: 40px;
    color: black;
  }
  
  .searchBarContainer button:hover {
    background: #7fa1ff;
  }
  