.guide_loading_image {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.guide_no_major {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    flex-direction: column; /* Stack content vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@keyframes bounce {
    0% {
        transform: translateY(0); /* 시작 위치 */
    }
    50% {
        transform: translateY(-10px); /* 중간 위치 */
    }
    100% {
        transform: translateY(0); /* 종료 위치 */
    }
}

.guide_no_major_message_1 {
    font-family: 'Cafe24surround';
    font-size: 35px;
    color: #4D789D;
    animation: bounce 2s infinite;
}

.guide_no_major_message_2 {
    font-family: 'Cafe24surround';
    font-size: 30px;
    color: black;
    animation: bounce 2s infinite;
}

.guide_no_major_image {
    width: 35px;
    height: 45px;
    margin-top: 20px;
    background-color: none;
    animation: bounce 2s infinite;
}

.guide_no_major_button {
    background-color: #CCFA50;
    border: none;
    border-radius: 16px;
    width: 250px;
    height: 48px;
    margin-top: 30px;
    cursor: pointer;
    
    font-family: 'Cafe24surround';
    font-size: 24px;
    color: black;
}

.guide_no_major_button:hover {
    background-color: #1751EC;
    color: white;
}

.guide_addMode {
    background-color: #E7EDFD;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-right: 32px;
    cursor: pointer;

    font-family: 'NanumSquareNeo-ExtraBold';
    font-size: 13px;
    color: #4D789D;
}

.guide_addMode:hover {
    background-color: #CCFA50;

    font-family: 'NanumSquareNeo-Heavy';
    color: #4D789D;
}

.guide_deleteMode {
    background-color: #fde7f5;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-right: 32px;
    cursor: pointer;

    font-family: 'NanumSquareNeo-ExtraBold';
    font-size: 13px;
    color: #b24188;
}

.guide_deleteMode:hover {
    background-color: #CCFA50;

    font-family: 'NanumSquareNeo-Heavy';
    color: #b24188;
}