.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* font(in order of thickness) */
/* 나눔스퀘어 네오 */
  /* variable */
@font-face {
  font-family: 'NanumSquareNeo';
  src: url("./fonts/NanumSquareNeo-Variable.ttf");
}

  /* Light */
@font-face {
  font-family: 'NanumSquareNeo-Light';
  src: url("./fonts/NanumSquareNeo-aLt.ttf");
}

  /* Regular */
@font-face {
  font-family: 'NanumSquareNeo-Regular';
  src: url("./fonts/NanumSquareNeo-bRg.ttf");
}

  /* Bold */
@font-face {
  font-family: 'NanumSquareNeo-Bold';
  src: url("./fonts/NanumSquareNeo-cBd.ttf");
}

  /* Extra Bold */
@font-face {
  font-family: 'NanumSquareNeo-ExtraBold';
  src: url("./fonts/NanumSquareNeo-dEb.ttf");
}

  /* Heavy */
@font-face {
  font-family: 'NanumSquareNeo-Heavy';
  src: url("./fonts/NanumSquareNeo-eHv.ttf");
}

/* 나눔스퀘어 라운드*/
  /* Light */
@font-face {
  font-family: 'NanumSquareRound-Light';
  src: url("./fonts/NanumSquareRoundL.ttf");
}
  
  /* Regular */
@font-face {
  font-family: 'NanumSquareRound-Regular';
  src: url("./fonts/NanumSquareRoundR.ttf");
}
  
  /* Bold */
@font-face {
  font-family: 'NanumSquareRound-Bold';
  src: url("./fonts/NanumSquareRoundB.ttf");
}

  /* Extra Bold */
@font-face {
  font-family: 'NanumSquareRound-ExtraBold';
  src: url("./fonts/NanumSquareRoundEB.ttf");
}

/* 카페24 써라운드 */
@font-face {
  font-family: 'Cafe24surround';
  src: url("./fonts/Cafe24Ssurround-v2.0.ttf");
}